<div class="container">
  <div class="">
    <h1>PAIN PROTOCOL</h1>
    <p>
      Regain vitality which has been drained by adrenal fatigue.
    </p>
    <p>
      This session addresses mental and physical fatigue and chronic sore throats. Relief from aching, weak limbs, body pains and
      headaches will ensure a renewed zest for life.
    </p>
    <p>
      Brain fog, muddled thinking, depression and coordination problems may clear. Establish aspects of your life to change and
      clear self sabotage.
    </p>
  </div>
</div>