<div class="container main">
  <h1>MELINA GEERTSEMA</h1>
  <div class="row">
    <div class="col-4">
      <img src="./../../assets/milena2.jpg" class="imageContainer">
    </div>
    <div class="summary col-8">
      <h1>ABOUT ME</h1>
      Melina has always had a passion for assisting in the physical and emotional healing of mankind. The wellbeing of the human
      body and spirit is of paramount importance to Melina. Her journey with kinesiology, brought about the realisation that
      the human body was created in such perfection, allowing it to heal within itself. She recognises the importance of
      teaching and empowering people, to actually take responsibility for their own health and wellbeing. The slightest change
      and improvement is experienced as a massive shift and victory. Melina equally loves interacting with humans as well
      as with animals and nature. She enjoys camping and the outdoors and is an avid sports follower. “If you are serious
      about your own health and wellbeing, and you are prepared to take personal responsibility for your own wellbeing, I
      would love to help and guide you on this wonderful journey. It will not only change your health, it ll change your
      life, at home, in the workplace and, on the sports fields.”
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="contact col-5">
      <h2>CONTACT ME</h2>
      <h4>Email address:
        <a href="mailto:melina.geertsema@kinesiologypractice.co.za?cc=admin@kinesiologypractice.co.za">
          <h5>melina.geertsema@kinesiologypractice.co.za</h5>
        </a>
      </h4>
      <h4>Phone Number:
        <h5>084 325 7971 (Whatsapp available)</h5>
        <h5>072 983 7949</h5>
      </h4>
      <h4>Location:
        <a href="https://www.google.co.za/maps/place/264+9th+Rd,+Bredell+AH,+Kempton+Park,+1619/data=!4m2!3m1!1s0x1e953fcdd59b9197:0x2992ca66451ef744?sa=X&ved=0ahUKEwjn2LzS0M3YAhXjAsAKHYigDasQ8gEIKDAA"
          target="_blank">
          <h5>264 9th Road Breddel AH</h5>
          <h6>Tuesdays & Thursdays</h6>
        </a>
        <a href="https://www.google.co.za/maps/place/616A+Magnetiet+St,+Elarduspark,+Pretoria,+0047/data=!4m2!3m1!1s0x1e95671aa71a591b:0x4c1440f1a77b0e5c?sa=X&ved=0ahUKEwjootKT0c3YAhXiDsAKHblbAHkQ8gEIKDAA"
          target="_blank">
          <h5>616A Magnetiet Street Elardus Park Pretoria</h5>
          <h6>Tuesdays - Fridays</h6>
        </a>
      </h4>
    </div>
    <div class="prices col-6">
      <h1 style="text-align: center">THERAPY SESSIONS</h1>
      <ul>
        <li>GENERAL KINESIOLOGY</li>
        <li>SPECIFIC KINESIOLOGY</li>
        <li>ADRENAL FATIGUE</li>
        <li>REGIONAL MUSCLE</li>
      </ul>
    </div>
  </div>
</div>