.main{
    margin-top: 2%;    
    color: #00e1ff;
}
.imageContainer{      
    border-radius: 30px;
    width: 100%;
}
.summary{
    font-size: 60;
    background-color: rgba(55, 130, 175, 0.8);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 30px;
    text-align: center;       
}

.contact{
    margin-top: 2.5%;
    margin-right: 2.5%;    
    h2{
        text-align: center;
    }
    a{
        color: #00e1ff;
    }
    background-color: rgba(55, 130, 175, 0.8);
    border-radius: 30px;
    text-align: left;      
}
.map{    
    agm-map {        
        height: 30vh;
      }
      padding-top: 2.5%;
      padding-bottom: 5%;
}
.prices{
    margin-top: 2.5%;
    font-size: 60;
    background-color: rgba(55, 130, 175, 0.8);
    padding: 0;
    border-radius: 30px;
    text-align: center;
    .cost{
        text-align: left;
        font-size: medium;
    }
}
.times{
    text-align: center;
    font-size: xx-small;
}