<div class="container">
  <div class="">
    <h1>KINESIOLOGY</h1>
      <p>
          A kinesiology session addresses stressors and imbalances within the body, on a physical, mental, emotional and spiritual
          level, pertaining to the mater dealt with in the session.
        </p>
        <p>
          Most health related issues, including heart disease, digestive problems, allergies, brain function, digestive disorders,
          are stress related, and often caused by an incident or series of events, which trigger certain chemical responses in the
          body, resulting in pain, discomfort and unwellness.
        </p>
        <p>
          A session will assist you to deal with stress (work, relationships, financial, physical, mental) and emotional or other traumas
          in general or related to a specific incident/s, which will enable you to cope with situations and view life from a different
          perspective, thereby eventually changing your circumstances.
        </p>
  </div>
</div>