<div class="container">
  <div class="row">
    <div class="col-5 definition">
      <h1>What is Kefir?</h1>
      <p>
        Kefir is a fermented milk drink originating more than a thousand years ago. Fermentation is an ancient method of preservation,
        used by many cultures all over the world.
      </p>
    </div>
    <div class="col-5 benefits">
      <h1>The Benefits Of Kefir</h1>
      <ul>
        <li>Healthier Immune System</li>
        <li>Relieves intestinal disorders</li>
        <li>Assists with weight loss</li>
        <li>Helps maintain blood sugar levels</li>
        <li>Kills pathogenic bacteria and fungi</li>
        <li>Relieves the effects of allergies and asthma</li>
        <li>increases bone density</li>
      </ul>
    </div>
    <div class="col-5 benefits">
      <h1>Nutritional Contents</h1>
      <ul>
        <li>Vitamins A, B3, B6, C, D, E, K2</li>
        <li>Calcium</li>
        <li>Phosphorus</li>
        <li>Riboflavin</li>
        <li>Iron</li>
        <li>Potasium</li>
        <li>Copper</li>
        <li>Zinc</li>
      </ul>
    </div>
    <div class="col-5 benefits">
      <h1>BUY NOW!</h1>
      <h4>500ml: R25, Bulk(10+) R20</h4>
      <h4>2l: R90 Bulk(10+) R80</h4>
      <h4>Grains: (To make your own milk kefir)</h4><h2>R65 </h2>
      <h2>CONTACT BABSIE NOTHNAGEL: </h2>
      <h4>Email address:
          <a href="mailto:babsie.nothnagel@kinesiologypractice.co.za?cc=admin@kinesiologypractice.co.za">
            <h5>babsie.nothnagel@kinesiologypractice.co.za</h5>
          </a>
        </h4>
        <h4>Phone Number:
          <h5>061 795 3604 (Whatsapp available)</h5>
        </h4>
    </div>
  </div>
</div>