<div class="container">
  <div class="">
    <h1>CHAKRA BALANCE</h1>
    <p>
      The Chakra Protocol assists in evaluating your chakras and clearing any blockages in the chakra energy centres. Determine
      whether you need a specific affirmation for a specific chakra, say a mantra or need specific nutrition for your chakras
      or one of the seven chakras.
    </p>
    <p>
      Clearing the seven main chakras, Root, Sacral, Solar Plexus, Heart, Throat, Third Eye and Crown Chakras, improves your well
      being and promotes coping mechanisms for different aspects of life.
    </p>
  </div>
</div>