<div class="container">
  <h1>KINESIOLOGISTS TO CHOOSE FROM</h1>
  <div class="row justify-content-center">
    <div class="card">
      <button type="button" class="btn" [routerLink]="['/babsiePage']">
        <img src="./../../assets/babsie.jpg">
        <h2><b>Babsie Nothnagel</b></h2>
        <p>Benoni AH</p>        
      </button>
    </div>
    <div class="card" id="milena" [routerLink]="['/melinaPage']">
      <button type="button" class="btn">
        <img src="./../../assets/milena2.jpg">
        <h2><b>Melina Geertsema</b></h2>
        <p>Elardus Park</p>        
      </button>
    </div>
  </div>
</div>