<div class="container">
  <div class="">
    <h1>ANIMAL SESSIONS</h1>
    <p>
      Kinesiology is equally effective for animals and humans. All muscles of the animal can be tested and corrected via a surrogate,
      normally the owner. Muscles of the surrogate will be tested and cleared before commencing the session of the animal.
    </p>
    <p>
      Animal kinesiology assists in pain relief, sensitivities, dietary requirements and clearing stressors related to traumatic
      experiences, such as relocating, injuries, and abandonment.
    </p>
  </div>
</div>