<div class="container">
  <div class="">
    <h1>WEIGHT MANAGEMENT</h1>
    <p>
      Assists with determining reasons for wieght gain and reasons for difficulties shaking off excess weight.
    </p>
    <p>
      As food and weight are very emotional components in health, the emotional aspect are identified and dealt with to clear inhibiting
      habits and patterns around eating.
    </p>
    <p>
      Establish which foods to eliminate and/or avoid and wether additional nutrition is required to reach desired weight.
    </p>
  </div>
</div>