.main{
    margin-top: 2%;    
    color: #00e1ff;
}
.imageContainer{      
    border-radius: 30px;
    width: 100%;
}
.summary{
    font-size: 60;
    background-color: rgba(55, 130, 175, 0.8);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 30px;
    text-align: center;       
}

.contact{
    margin-top: 2.5%;
    margin-right: 2.5%;    
    h2{
        text-align: center;
    }
    a{
        color: #00e1ff;
    }
    background-color: rgba(55, 130, 175, 0.8);
    border-radius: 30px;
    text-align: left;      
}
.map{    
    agm-map {        
        height: 30vh;
      }
      padding-top: 2.5%;
      padding-bottom: 5%;
}
.typesBtn{
    border-radius: 30px;
    color: #00e1ff;
    background-color: rgba(0, 8, 62, 0.5);
}
.capable{
    margin-top: 2.5%;
    background-color: rgba(55, 130, 175, 0.8);
    text-align: center;
    li{
        text-align: left;
    }
    border-radius: 30px;
}