<div class="container main">
  <h1>BABSIE NOTHNAGEL</h1>
  <div class="row">
    <div class="col-4">
      <img src="./../../assets/babsie.jpg" class="imageContainer">
    </div>
    <div class="summary col-8">
      <h1>ABOUT ME</h1>
      I love life and the fact that life is to be loved. Given the oppurtunity, the body is created to exist perfectly and in harmony
      with nature. This can be accomplished by maintaining a balanced life, mentally, spiritually, physically and emotionally.
      While healthy habits are perhaps not always easy, once one starts indulging in the beauty and equisiteness that nature
      has to offer, it is almost impossible to imagine living any other way. By eating whole foods, whether it be freshly
      baked goods, or decadent raw home made chocolate, or home made cheese and yoghurt from raw milk, you provide your living
      body with the living organisms from the food it needs. This lifestyle enables the body to perform at its maximum potential
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="contact col-5">
      <h2>CONTACT ME</h2>
      <h4>Email address:
        <a href="mailto:babsie.nothnagel@kinesiologypractice.co.za?cc=admin@kinesiologypractice.co.za">
          <h5>babsie.nothnagel@kinesiologypractice.co.za</h5>
        </a>
      </h4>
      <h4>Phone Number:
        <h5>061 795 3604 (Whatsapp available)</h5>
      </h4>
      <h4>Location:
        <a href="https://www.google.co.za/maps/place/264+9th+Rd,+Bredell+AH,+Kempton+Park,+1619/data=!4m2!3m1!1s0x1e953fcdd59b9197:0x2992ca66451ef744?sa=X&ved=0ahUKEwjn2LzS0M3YAhXjAsAKHYigDasQ8gEIKDAA" target="_blank">
          <h5>264 9th Road Breddel AH</h5>
        </a>
      </h4>
    </div>
    <div class="capable col-6">
      <h1 style="text-align: center">THERAPY SESSIONS</h1>
      <ul>
        <li>GENERAL KINESIOLOGY</li>
        <li>SPECIFIC KINESIOLOGY</li>
        <li>KAHUNA MASSAGE</li>
        <li>LYMPHATIC DRAINAGE</li>
        <li>ALLERGY NUTRITION</li>
        <li>WEIGHT MANAGEMENT</li>
        <li>CHAKRA BALANCE</li>
        <li>PELVIC GIRDLE ALIGNMENT</li>
        <li>ANIMAL SESSIONS</li>
        <li>ADRENAL FATIGUE</li>
      </ul>
      <button class="btn typesBtn" [routerLink]="['/home', {outlets: {'info': ['types']}}]">Please click here to go to the different types</button>
    </div>
  </div>
</div>