.main{
    margin-top: 2%;    
    color: #00e1ff;
}
.profileImage{
    .imageContainer{      
        border-radius: 30px;
        width: 100%;
    }
}
.summary{
    width: 60%;
    margin: 0 5%;
    font-size: 60;
    background-color: rgba(55, 130, 175, 0.8);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 30px;
    text-align: center;       
}

.contact{
    margin: 5% 5% 0 0;  
    width: 40%;
    padding: 1% 2.5%;
    h2{
        text-align: center;
    }
    a{
        color: #00e1ff;
    }
    background-color: rgba(55, 130, 175, 0.8);
    border-radius: 30px;
    text-align: left;      
}
.capable{
    margin: 5% 5% 0 0;  
    width: 45%;
    background-color: rgba(55, 130, 175, 0.8);
    text-align: center;
    li{
        text-align: left;
    }
    border-radius: 30px;
}

@media screen and (max-width: 600px){
    .profileImage{
        margin: auto;
    }
    .summary{
        margin: 2%;
        width: 100%;
    }
    .contact{
        margin: 2%;
        width: 100%;
        h5{
            font-size: 15px;        
        }
    }
    .capable{
        width: 100%;
        margin: 2%;
    }    
}