<div class="container navigation">
  <div class="row justify-content-center">
    <button class="btn" [routerLink]="['/home']">KINESIOLOGISTS</button>
    <button class="btn" [routerLink]="['/definition']">DEFINITION</button>
    <button class="btn" [routerLink]="['/benefits']">BENEFITS</button>
    <button class="btn" [routerLink]="['/therapies']">THERAPIES</button>
  </div>
</div>
<div class="container benefits">
  <h1>BENEFITS!</h1>
  <div class="row">
    <ul class="">
      <li>Enhance learning</li>
      <li>Assist in personal perfomance</li>
      <li>Brain Integration</li>
      <li>Eliminate stress</li>
      <li>Reduce and Eliminate Emotional Physical and Mental Stress</li>
    <!-- </ul>
    <ul class=""> -->
      <li>Help overcome past trauma</li>
      <li>identify nutritional deficiency</li>
      <li>help overcome fears and phobias</li>
      <li>Aid in injury healing</li>
      <li>Emotional and trauma stress release</li>
    <!-- </ul>
    <ul class=""> -->
      <li>Brain integration</li>
      <li>Boost Sport perfomance</li>
      <li>Help with finance decision making</li>
      <li>Pin-point and eliminate allergic reactions</li>
      <li>Identify nutritional deficiency and excess</li>
      <li>Aid in healing of muscle injuries</li>
    </ul>
  </div>
</div>