<div class="container">
    <div class="">
      <h1>ALLERGY & NUTRITION</h1>
      <p>
          Allergy, Sensitivity and Nutrition protocol may assist in clearing sensitivities to foods and substances which are beneficial
          to repair and maintenance of the human body and body systems and functions.
        </p>
        <p>
          Establish foods and substances which are harmful, to eliminate and/or avoid for health and vitality. Determine nutritional
          components required and to be added to your diet for optimal health and freedom of sensitivities. Work through
          and clear emotional aspects and possible causes of the allergies and/or sensitivities experienced and possible
          triggers of reactions to food and substances.
        </p>
    </div>
  </div>