<div class="container main">
  <h2>TO MAKE IT AS CONVENIANT AS POSSIBLE, ALL THE PRICES OF EVERY KENISIOLOGIST STAYS THE SAME</h2>
  <br>
  <br>
  <h5>PLEASE FOLLOW THESE TABLES IN ORDER TO GET THE CORRECT PRICE ACCORDING TO YOUR SESSION</h5>
  <br>
  <div class="row">
    <div class="col-10">
      <table class="table table-bordered">
        <tr>
          <th>Therapy</th>
          <th>Session</th>
          <th>Duration</th>
          <th>Cost</th>
        </tr>
        <tr>
          <td class="sessionType" class="sessionType" rowspan="2">Kinesiology</td>
          <td>1st Session</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Sessions thereafter</td>
          <td>60</td>
        </tr>
        <tr>
          <td class="sessionType" rowspan="2">Kahuna Massage</td>
          <td>1st Session</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Sessions thereafter</td>
          <td>60</td>
        </tr>
        <tr>
          <td class="sessionType" rowspan="2">Lymphatic Drainage Massage</td>
          <td>1st Session</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Sessions thereafter</td>
          <td>60</td>
        </tr>
        <tr>
          <td class="sessionType" rowspan="2">Allergy Nutrition Protocol</td>
          <td>1st Session</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Sessions thereafter</td>
          <td>60</td>
        </tr>
        <tr>
          <td class="sessionType" rowspan="2">Weight Managment & Control</td>
          <td>1st Session</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Sessions thereafter</td>
          <td>60</td>
        </tr>
        <tr>
          <td class="sessionType" rowspan="2">Chakra Balance</td>
          <td>1st Session</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Sessions thereafter</td>
          <td>60</td>
        </tr>
        <tr>
          <td class="sessionType" rowspan="2">Pelvic Girdle Allignment</td>
          <td>1st Session</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Sessions thereafter</td>
          <td>60</td>
        </tr>
        <tr>
          <td class="sessionType" rowspan="2">Animal Sessions</td>
          <td>1st Session</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Sessions thereafter</td>
          <td>60</td>
        </tr>
        <tr>
          <td class="sessionType" rowspan="2">Adrenal Fatigue</td>
          <td>1st Session</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Sessions thereafter</td>
          <td>60</td>
        </tr>
        <tr>
          <td class="sessionType" rowspan="2">Regional Muscle</td>
          <td>1st Session</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Sessions thereafter</td>
          <td>60</td>
        </tr>
      </table>
    </div>
  </div>