.main{
    margin-top: 2.5%;
    text-align: center;
    color: #00e1ff;
}
.cost{
    
    padding: 0;
}
.table-bordered{
    background-color: rgba(55, 130, 175, 0.8);
}
.sessionType{    
    vertical-align: middle;
}
#priceInput{    
    color: #00e1ff;
    background-color: rgba(55, 130, 175, 0.8);
    border-radius: 30px;
    margin: 1%;
}
input::-webkit-input-placeholder {
    color: #00e1ff !important;
}
input:-moz-placeholder { /* Firefox 18- */
    color: #00e1ff !important;  
}
input::-moz-placeholder {  /* Firefox 19+ */
    color: #00e1ff !important;
}
input:-ms-input-placeholder {  
    color: #00e1ff !important;  
}