.main{
    margin-top: 2.5%;
    text-align: center;
    color: #00e1ff;
}
.cost{
    
    padding: 0;
}
.table-bordered{
    background-color: rgba(55, 130, 175, 0.8);
}
.sessionType{
    font-weight: bold;
    vertical-align: middle;
}