.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #09212d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0%;
  .logo{
    position: relative;
    //display: block;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #296a94;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #00cbff;
}

.sidenav .closebtn {
  position: relative;
  top: 0;
  float: right;
  font-size: 36px;
  margin-left: 50px;
}

#main {    
  background: url('../../../assets/stars2.png')no-repeat fixed center;
  background-size: cover;  
  transition: margin-left .5s;
  padding-bottom: 5%;
  .mainLogo{
    padding-top: 0%;
    background-color: rgba(0, 8, 62, 0.6);
    .logo{
      position: relative;
      width: 50%;
      display: block;
      margin: auto;
    }
  }
  .openBtn{
    position: fixed;
    color: #f1f1f1;
    left: 5vw;
    top: 12.5vh;
    z-index: 2;
  }
}

@media screen and (max-width: 600px){
  #main{
    .mainLogo{
      padding-top: 0%;
      padding-left: 10%;
      background-color: rgba(0, 8, 62, 0.3);
      .logo{
        position: relative;
        width: 100%;
        display: block;
        margin: auto;
      }
    }
    .openBtn{
      position: fixed;
      color: #f1f1f1;
      left: 5vw;
      top: 5vh;
      z-index: 2;
    }
  }
}
