<div id="mainSidenav" class="sidenav">
  <a href="javascript:void(0)" id="closeBtn" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/"><img class="logo" src="../../assets/KinesiologyLogo.png" alt="Kinesiology Practice Logo"></a>
  <a routerLink="/">Home</a>
  <a routerLink="/prices">Fees</a>
  <a routerLink="/foodForLife">FoodForLife</a>
  <a routerLink="/joinUs">JoinUs</a>  
  <a routerLink="/feedback">Feedback</a>  
</div>

<div id="main">
  <div class="float-left openBtn">
    <span style="font-size:30px;cursor:pointer" (click)="openNav()" class="fa fa-bars" aria-hidden="true"></span>
  </div>
  <div class="mainLogo">
    <img class="logo" src="../../assets/KinesiologyLogo1.png" alt="Kinesiology Practice Logo">
  </div>
  <router-outlet></router-outlet>
</div>
