.welcome{
    margin: 2.5%;
    text-align: center;
    color: #00cbff;       
}
.main{
    margin: 0;
    max-width: 100%;
}
.products{
    background-color: rgba(55, 130, 175, 0.4);
    border-radius: 30px;
    color: #00cbff;
    text-align: center;
    margin: 1%;
    padding-bottom: 2%;
}
// .navigation{  
//     margin-bottom: 1%;   
//     background-color: rgba(55, 130, 175, 0.6);
//     max-width: 100%;        
//     h2{
//       margin: 1%;
//       border-radius: 25px;
//       background-color: rgba(0, 8, 62, 0.5);
//       text-align: center;
//       color: #00cbff;
//     }
//   }