<!-- <div class="container navigation">
  <div class="row justify-content-center">
    <h2 class="col-3">ForLife</h2>
  </div>
</div> -->
<div class="welcome">
  <h1>Welcome to ForLife, where our goal is to keep everything as natural as nature itself!</h1>
</div>
<div class="container main">
  <div class="row justify-content-center">
    <button class="col-4 btn products" [routerLink]="['/kefir']">
      <h3>MILK KEFIR</h3>
      <div>
        <img src="../../../assets/kefir.jpg" alt="kefir">
      </div>
    </button>
    <!-- <div class="col-4 products">
      <h3>BAKING</h3>
      <div>
        <img src="../../../assets/kefir.jpg" alt="kefir">
      </div>
    </div>
    <div class="col-4 products">
      <h3>CLEANING</h3>
      <div>
        <img src="../../../assets/kefir.jpg" alt="kefir">
      </div>
    </div> -->
  </div>
</div>
<!-- <button class="btn col-2" [routerLink]="['/home']">KEFIR</button> -->
<!-- <button class="btn col-2" [routerLink]="['/home']">BAKING</button> -->
<!-- <button class="btn col-2" [routerLink]="['/home']">CLEANING</button> -->
<router-outlet></router-outlet>