.types{
    display: inline-block;
    background-color: rgba(55, 130, 175, 0.6);
    margin: 1%;    
    border-radius: 30px;
    text-align: center;
    .btn{
        width: 100%;
        max-width: 100%;
        color: #00e1ff;
        background-color: rgba(0, 0,0, 0);
    }
    color: #00e1ff;
}
.container{
    max-width: 90%;
}

.modal{
    background-color: rgba(0, 3, 10, 0.7);
}
.modal-content{
    color: #00e1ff;
    background-color: rgba(55, 130, 175, 0.8);
    .close{
        color: #00e1ff;
    }
}