<div class="container">
  <div class="">
    <h1>REGIONAL MUSCLE MASSAGE</h1>
    <p>
      Assess and correct functions of all muscles in a region of the body. Each muscle in the specific region is evaluated and
      appropriate asdjustments are made.
    </p>
    <p>
      Establish wether any support in the form of nutrition, excercise, other therapies or actions are required.
    </p>
    <div class="row">
      <ul>
        <li>Shoulder Region</li>
        <li>Hand and finger Region</li>
        <li>Arm and elbow Region</li>
        <li>Neck and Back Region</li>
      </ul>
      <ul>
        <li>Back and hip Region</li>
        <li>Leg and knee Region</li>
        <li>Foot Region</li>
      </ul>
    </div>
  </div>
</div>