.container{
    padding: 2.5%;
    text-align: center;
    color: #00cbff;    
    max-width: 90%;
}
.infoContainer{
    margin: 2.5%;
    .info{
        padding: 2.5%;
        width: 47.5%;          
        margin: 0 1%;
        border-radius: 30px;         
        background-color: rgba(55, 130, 175, 0.6);
        a{
            color: #00cbff;
        }
        h4,ul{
            text-align: left;    
        }    
    }    
}
.safe{
    padding: 2.5%;
    width: 50%;
    margin: auto;    
    border-radius: 30px;         
    background-color: rgba(55, 130, 175, 0.6);
    a{
        color: #00cbff;
    }
    h4,ul{
        text-align: left;    
    }    
}
@media screen and (max-width: 600px){
    .infoContainer{
        .info{
            width: 100%;
            a{
                font-size: 20px;
            }
            margin: 2.5% 1%;
        }  
    }
    .safe{
        width: 80%;
    }
}