<div class="container navigation">
  <div class="row justify-content-center">
    <button class="btn col-2" [routerLink]="['/home', {outlets: {'info': ['define']}}]">DEFINITION</button>
    <button class="btn col-2" [routerLink]="['/home', {outlets: {'info': ['benefits']}}]">BENEFITS</button>
    <button class="btn col-2" [routerLink]="['/home', {outlets: {'info': ['types']}}]">THERAPIES</button>
  </div>
</div>
<!-- <div [@routerTransition]="getState(o)"> -->
<div>
  <router-outlet #o="outlet" name="info"></router-outlet>
</div>
<div class="kinesiologists">
  <app-kinisiologists></app-kinisiologists>
</div>
<!--MOBILE-->
<!--<div class="definitionMobile">
  <h4>Kinesiology is a communication tool that enables a person to assess and upgrade their perfomance in all areas of their life.
      It is the science of energy balancing and is grounded in the study of anatomy and physiology.</h4>
</div>-->